img{
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
.main-div{
  display: flex;
  overflow-x: hidden;
}

.left-nav{
  background-color: #040B14;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  padding-top: 20px;
  color: white;
  display: none;
  z-index: 999 !important;
}



.myImg{
  background-image: url("../../assets/2.png");
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #2C2F3F;
}

.socialIcons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialIcons a{
  color: white;
}
.socialIcons a:hover{
  color: white;
}

.facebook:hover{
  background-color: dodgerblue !important;
  transition: 0.5s ease-in;
}
.linkedin:hover{
  background-color: dodgerblue !important;
  transition: 0.5s ease-in;
}
.github:hover{
  background-color: dodgerblue !important;
  transition: 0.3s ease-in;
}
.linking ul li{
  list-style: none;
  color: rgb(168, 168, 168);
  margin-top: 30px;
  cursor: pointer;
}

.homeIcon,.servicesIcon,.userIcon,.contactIcon,.projectIcon{
  font-size: 30px;
  margin-right: 5px;
}

.linking ul li:hover {
  color: white;
}

.linking ul li:hover .homeIcon{
  color: dodgerblue;
}
.linking ul li:hover .userIcon{
  color: dodgerblue;
}
.linking ul li:hover .servicesIcon{
  color: dodgerblue;
}
.linking ul li:hover .contactIcon{
  color: dodgerblue;
}
.linking ul li:hover .projectIcon{
  color: dodgerblue;
}

nav li.active .homeIcon {
  color: dodgerblue
}
nav li.active .userIcon {
  color: dodgerblue
}

nav li.active .servicesIcon {
  color: dodgerblue
}
nav li.active .projectIcon {
  color: dodgerblue
}




.main-content {
  flex: 1;
  overflow-y: auto;
  background-image: url("https://images.unsplash.com/photo-1448067686092-1f4f2070baae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHBvcnRmb2xpbyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.home{
  height: 100vh;
  display: flex;
}


.mySelf{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#about{
  background:white;
  width:100%;
  padding-left: 40px;
}

#services{
  background:white;
  width:100%;
  padding-left: 40px;
}
#projects{
  background:white;
  width:100%;
  padding-left: 40px;
}

@media screen and (min-width:1200px) {
  .left-nav{
    display: block;
  }

  .canvasIcon{
    display: none !important;
  }

  .main-content{
    padding-left: 280px;
  }

}

@media screen and (max-width:600px) {
  #about,#services,#projects{
    padding-left: 0px;
  }
  .nameHead{
    font-size: 40px !important;
  }
  .typeWriter{
    font-size: 20px !important;


  }
  

}




